@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

:root {
  --primary: rgb(80, 80, 80);
  --secondary: rgb(0, 183, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
