.gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 300px;
  margin: 75px;
}

.gridItem:hover {
  cursor: pointer;

}

.illustrations {
  height: 100vh;
}

.contact {
  height: 100vh;
}

@media screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: 300px 300px;
  }
}

@media screen and (min-width: 900px) {
  .animations {
    height: 100vh;
  }

  .illustrations {
    height: 100vh;
  }
  
  .infographics {
    height: 100vh;
  }

  .contact {
    height: 100vh;
  }

  .gridContainer {
    grid-template-columns: 300px 300px 300px;
  }
}