.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    width: 100%;
    background-color:  #3D3D3D;
    z-index: 100;
}

.modalContent {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    color: #e9e9e9;
}

.description {
    font-size: .9rem;
}

.imageContainer {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr;
}

.imageItem {
    width: 400px;
    height: 350px;
    position: relative;
}

.icons {
    display: flex;

}

.titleYear {
    display: flex;
}

.title {
    margin-bottom: 0;
}

.year {
    color: #929292;
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    margin-bottom: 0;
    letter-spacing: normal;
}

.sub {
    color: #929292;
    font-size: .9rem;
    letter-spacing: normal;
    text-align: start;
    margin-top: 5px;
}

.xButton {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.x {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 5px 0px;
    transform: rotate(45deg);
}

.x::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0px;
    transform: rotate(90deg);
    background-color: white;
}

@media screen and (min-width: 600px) {
    .modalContainer {
        width: 90%;
        left: 5%;
        margin-top: 50px;
    }

    .imageItem {
        width: 500px;
        height: 400px;
    }
}

@media screen and (min-width: 900px) {
    .modalContainer {
        width: 80%;
        left: 10%;
    }
    .imageItem {
        width: 700px;
        height: 550px;
    }
    .modalContent {
        flex-direction: row;
        align-items: flex-end;
    }
    .icons {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .imageItem {
        width: 900px;
        height: 700px;
    }
}